@import "vars.scss";

.container {
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.imgContainer {
  box-shadow: 0 24px 48px 0 rgba(174, 174, 186, 0.32);
  img {
    width: 720px;
  }
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.textContainer {
  position: absolute;
  width: 400px;
  border-radius: $border-rounded-standard;
  box-shadow: 0 24px 48px 0 rgba(174, 174, 186, 0.32);
  background-color: $bg-content-diff;
  padding: 2rem;
  bottom: 0;
  left: 0;
}

.introImage {
	width: 412px;
	border-radius: 12px;
}

.introductionContainer {
  display: grid;
  grid-template-columns: 500px min-content;
  margin: 2rem auto;
	max-width: 1020px;
  grid-gap: 4rem;
  justify-content: space-between;
}

.introductionTextTitle {
  margin-bottom: 1rem;
}

.newsletterSignupTitle {
  h1 {
    margin-bottom: $header-mb;
  }
}

.newsletterSignupForm {
  display: grid;
  grid-template-columns: 200px 120px 200px 120px;
  margin-top: 1.2rem;
  grid-gap: 2.5rem;
  margin-bottom: 1rem;
}